#selected{
    background-color: blue;
}

td{
    text-align: center;
    border: 2px solid black;
}

#GameTable{
    background-color: rgb(196, 145, 91);
    height: 700px;
    width: 10%;
}

.size1{
    height: 50px;
}

.size2{
    height: 100px;
}

.size3{
    height: 150px;
}

#ExampleTables{
    background-color: rgb(196, 145, 91);
    height: 1400px;
    width: 100%;
    display: none;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    column-gap: 0px;
}

.Example{
    width:100%;
}

.innerCell{
    width: 90%;
}

.hpCell{
    width: 10%;
}

.innerTable{
    width: 100%;
}
