#selected{
    background-color: blue;
}

td{
    text-align: center;
    border: 2px solid black;
}

#GameTable{
    background-color: rgb(196, 145, 91);
    height: 550px;
    width: 20%;
}

table{
    width: 500px;
    flex: auto;
}

.fightTableCell{
    width: 16.67%;
}

.fightTableRow
{
    /*height: 16.67%;*/
    height: 50px;
}
#fightTable{
    width: 1000px;
    height: 300px;
    display: none;
}

#ExampleTables{
    background-color: rgb(196, 145, 91);
    height: 550px;
    width: auto;
    display: none;
}

.size1{
    background-color: #c9e9d2;
    height: 50px;
}

.size2{
    background-color: #e7e0cb;
    height: 100px;
}

.size3{
    background-color: #f7d8d8;
    height: 150px;
}